/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*slider start*/
.s_text h1 {
    font-size: 25px;
}
.s_text h2 {
    font-size: 20px;
    margin: 10px 0;
}
.s_text p {
    margin-bottom: 25px;
}
.banner_btn {
    font-size: 17px;
    margin: 0px 106px;
    padding: 14px 48px;
}
/*about start*/
.about_us {
    font-size: 30px;
    margin: 35px 0 25px;
}
.about_h3 {
    padding: 0 0 0px 10px;
}
.about_p {
    padding: 10px;
    padding-bottom: 3px;
}
/*service start*/
.servie_p {
    font-size: 18px;
    padding: 0 10px 10px;
}
.srvc {
	border: none;
}
/*features start*/
.features_p h3 {
    font-size: 20px;
    padding: 6px 0px;
    text-align: center;
}
/*contact start*/
.cont_p {
    font-size: 18px !important;
}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*slider start*/
.s_text p {
    margin-bottom: 40px;
}
/*about start*/
.about_us {
    font-size: 25px;
    margin: 40px 0 35px;
}
.about_h3 {
    margin: 0;
    padding: 0 0 0px 10px;
    text-align: center;
}
.about_p {
    padding-bottom: 0px;
}
/*service start*/
.servie_p {
    font-size: 18px;
    padding: 0 10px 20px;
}
.srvc {
	border: none;
}
/*features start*/
/*contact us*/
.contact_p p {
    font-size: 14px;
}
.cont_p {
    font-size: 20px !important;
}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*slider start*/
.s_text h1 {
    font-size: 30px;
}
.s_text h2 {
    margin: 9px 0;
    font-size: 20px;
}
.banner_btn {
    margin: 0px 100px;
    padding: 20px 38px;
}
/*about start*/
.about_us {
    font-size: 30px;
    margin: 40px 0 30px;
}
.about_img img {
    width: 90%;
}
.about_h3 {
	font-size: 30px;
	margin: 0;
    padding: 0 0 0px 10px;
    text-align: center;
}
.about_p {
    padding-bottom: 0px;
}
/*service start*/
.srvc_p h3 {
    font-size: 20px;
}
.servie_p {
    font-size: 20px;
    padding: 0 10px 30px;
}
.s_brdr {
	border: none;
}
/*about us*/
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
/*slider start*/
.banner_btn {
    margin: 0px 130px;
}
/*about start*/
.about_img img {
    margin: 50px 0 0px;
}
.about_h3 {
    padding: 0 0 0px 10px;
}
.about_p {
    padding-bottom: 0px;
}
/*service start*/
.about_us {
    font-size: 40px;
    margin: 80px 0 35px;
}
.servie_p {
    font-size: 20px;
    padding: 0 10px 45px;
}
.ftrs_img img {
    height: 245px;
}
.features_p h3 {
    font-size: 21px;
}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
/*about us*/
.about_h3 {
    padding: 0 0 0px 12px;
}
}

/* Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
	
}